@import url('http://fonts.cdnfonts.com/css/heroes-assemble');

@import url('http://fonts.cdnfonts.com/css/phoenix-gaming');


.containCart {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%); 
  padding-top: 5px;
  background-color: white;
  border-radius: 10px;
display: flex;
flex-direction: column;


}


.infoItem2 {
  margin: 0 10px;
}

.contCompra {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.contCompra>Button{
  font-family: 'Heroes Assemble', sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  border: 1px solid black;
  margin: 0 5px;
  background-color: transparent;
  color: black;
  height: 60px;
}

.contCompra>p{
  font-family: 'Phoenix Gaming', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 4px;
  margin-top: 15px;
  text-align: center;
 
}


.contVacio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnChange {
  margin: 0;
  padding: 0;
  
}

.ordenCompra {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.ordenCompra > p > span {
  font-weight: bold;
  margin-left: 5px;
}

.ordenTitle {
  font-size: 1rem;
  background-color: rgba(255, 95, 218, 0.304);
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
  box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.3);
}


h4{
  color:black;
}