
.contContacto { 
  margin: 30px 0 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerForm{
    box-shadow: 0 0 10px 0 rgb(252 62 62 / 53%);    
    background-color:whitesmoke;  
    border-radius: 10px;   
    margin: 10px ;
    padding: 10px;
    width: 600px;
  }
  
  .containerContacto>form{

    display: flex;
    flex-direction: column;
    align-items: center;   
    padding: 10px; 
    
  
  }  
  
  .contUbicacion{
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 15px; 
    width: 600px;
    background-color: whitesmoke;
    margin: 10px;
  }

  @media screen and (max-width: 1024px) {

    .containerForm{
      margin: 10px 20px 30px 20px;
    }
    .contUbicacion{
      height: 70vh;
      margin: 10px 20px 30px 20px;
    }

    .contContacto {
      margin: 20px 5px 60px 5px ;
    }
  
  }
