.App-footer{
    box-shadow: 3px 15px 19px -13px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    padding: 5px 30px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    color: whitesmoke;      
    width: 100%;
    position: fixed;
    bottom: 0;
    
  }


  .iconFooter{     
    display: flex;
    align-items: center;
  }

  
  @media screen and (max-width: 500px)
{
  .App-footer{
   height: 10vh;
   font-size: 10px;
  }

}
