@import url("http://fonts.cdnfonts.com/css/heroes-assemble");

.item-detail {
  display: flex;
  margin: 10px;
  font-weight: bold;
  font-style: italic;
  justify-content: center;
}
.count {
  background-color: whitesmoke;
  width: 50px;
}

.count > p {
  margin-top: 10px;
}

.btnProd {
  background-color: transparent;
  border: 1px solid white;
  color: whitesmoke;
}

.contAdd > Button {
  font-size: 0.9rem;
  letter-spacing: 1.8px;
  color: whitesmoke;
  margin: 5px;
}

.contAdd > Button:hover {
  font-weight: bold;
  letter-spacing: 1.3px;
  color: black;
}

