
@import url('http://fonts.cdnfonts.com/css/e-engal');


.navBar {
  background-color: black;
  width: 100%;
}

.contLogo {
  margin-right: 100px;
}

.logo {
  padding-bottom: 25px;
  width: 310px;
  height: 120px;
}


#navbar-toggler {
  background-color: rgb(233 219 255);
  margin: 10px 0;
}

#basic-nav-dropdown {
  color: white;
  padding-top: 0;
}

#basic-nav-dropdown:hover{
  color: rgb(24, 24, 194);
}


.navbar-nav a {
  margin: 20px 20px 0 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  font-family: 'e Engal', sans-serif;
  letter-spacing: 3px;

}

.navbar-nav a:hover{
  color: rgb(24, 24, 194);
}

a.category {
  color: black;
}

a.category:hover {
  color: blue;
}
