.contSlider {
  margin: 0px 60px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 80px;
}

.slider {
  height: 25vh;
}

.imgSlide {
  
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  border-radius: 20px;
}

@media screen and (max-width: 500px){

 .contSlider {
  margin: 0px 30px 100px 30px;
}


.imgSlide {
  margin: 0 10px;
  width: 90%;
  height: 90%;
}
}